/* COLORS */
@RED:#E50E0F;
@GREEN:#43BF41;
@NOT_GREEN:#579E54;
@NOT_RED:#D63649;
@NOT_YELLOW:#F7C137;
@OTHER_BLUE:#00C1D4;
@OTHER_PURPLE:#8C54FF;
@BLACK:#2E384D;
@BLACK_80:#69707F;
@BLACK_50:#8798AD;
@GRAY_CAPTION:#B0BAC9;
@GRAY:#BFC5D2;
@GRAY_50:#F4F6FC;
@GRAY_60:#EEF3F5;
@WHITE:#FFFFFF;
@BRONZE_CARD:#A45640;
@GOLD_CARD:#EEAD12;
@RUBY_CARD:#A1234B;
@SAPPHIRE_CARD:#082567;
@DIAMOND_CARD:#B7F1DC;

@BOX_SHADOW: 0px 10px 20px rgba(46, 91, 255, 0.07);

/* BTN STYLES */

@BTN_PRIMARY: {
  color: @WHITE;
  background: @GREEN;
  &:hover {
    background: #3EBA3C;
  }
  &:active{
    background: #32AB30;
  }
  &:disabled{
    background: @GRAY_60;
    color: @GRAY;
  }
  &:focus{
    outline-offset: -4px;
    outline: rgba(67, 191, 65, 0.26) solid 8px;
  }
};
@BTN_DEFAULT: {
  color: @BLACK;
  background: transparent;
  &:hover {
    background: rgba(46, 56, 77, 0.14);
  }
  &:active{
    background: rgba(46, 56, 77, 0.5);
  }
  &:disabled{
    background: @GRAY_60;
    color: @GRAY;
  }
  &:focus{
    outline-offset: -4px;
    outline: 8px solid rgba(135, 152, 173, 0.35);
  }
};
@BTN_DANGER: {
  @BTN_PRIMARY();
  background: @RED;
  &:hover {
    background: #D61414;
  }
  &:active {
    background: #BD0E0F;
  }
  &:disabled {
    background: @GRAY_60;
    color: @GRAY;
  }
  &:focus {
    outline-offset: -4px;
    outline: 8px solid rgba(229, 14, 15, 0.4);
  }

};
@BTN_LIGHT: {
  color:@WHITE;
  background: transparent;
  &:hover {
    background: rgba(46, 56, 77, 0.14);
  }
  &:active {
    background: @BLACK;
  }
  &:disabled {
    background: @GRAY_60;
    color: @GRAY;
  }
  &:focus {
    outline-offset: -4px;
    outline: 8px solid rgba(255, 255, 255, 0.35);
  }

};

/* TEXT STYLES */
@H1:{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  color: @BLACK;
}
@H2:{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: @BLACK;
}
@H3:{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: @BLACK;
}
@H4:{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  color: @BLACK;
}
@TEXT:{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: @BLACK;
}
@SMALL_TEXT:{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @BLACK;
}
@CAPTION:{
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.125px;
  text-transform: uppercase;
  color: #000000;
}
@CAPTION2:{
  font-family: 'SF Pro Display',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.21333px;
  text-transform: uppercase;
  color: @BLACK;
}

